.jumbotron {
  margin: 0;
  padding: 30px;
  background-color: #B0ABC0;
  color: white;
}

.site-footer {
  background-color: #001E11;
  padding: 20px 0;
  color: #B0ABC0;
}

.main {
  color: white;
  background-image: url(/img/background_pattern.svg);
  background-position: center;
  max-height: 100rem;
  position: relative;
}

.home-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #001E11;
  text-align: center;
  margin: 5rem;
}

.button {
  background: #AC65BE;
  padding: 15px;
  margin: 1rem;
  text-align: center;
  border-radius:20px;
  color: white;
  font-weight: bold;
  display: block;
  max-width: 20rem;
}
