body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-header {
  padding: 1rem;
  background-color: #9a8dc5;
}

.site-footer {
  background-color: #001E11;
  display: block;
  color: #B0ABC0;
  }

.social-icons {
  margin: .5rem;
}

.home-main {
  background-image: url(/img/background_pattern.svg);
  background-color: white;
  padding-bottom: 5rem;
}

.home-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: #001E11;
  text-align: center;
  margin: 4rem;
}

.button-main {
  background: #AC65BE;
  padding: 15px;
  margin: 1rem;
  text-align: center;
  border-radius:20px;
  font-weight: bold;
  color: white;
  display: inline-block;
}

.navbar-item {
  font-size: large;
  color:white;
  font-weight: bold;
  padding: 0px 20px;
}

.name {
  font-size: 2rem;
  padding: 0rem;
  text-align: right;
  font-weight: 500;
}

hr {
  border: 3px solid #001E11;
  margin: 0;
}

.placeholder-div{
  background-color: #9a8dc5;
}

.placeholder-splan{
  background-color: #B0ABC0;
}