.site-header {
  padding: 1rem;
  background-color: #B0ABC0;
}

.site-footer {
  background-color: #001E11;
  color: #B0ABC0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.home-main {
  background-image: url(/img/background_pattern.svg);
}

.home-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: #001E11;
  text-align: center;
  margin: 5.5rem;
}

.button-main {
  background: #AC65BE;
  padding: 15px;
  margin: 1rem;
  text-align: center;
  border-radius:20px;
  font-weight: bold;
  color: white;
  display: inline-block;
}

.navbar-item {
  font-size: large;
  color:white;
  font-weight: bold;
  padding: 0px 20px;
}

.name {
  font-size: 2rem;
  padding: 0rem;
  margin-left: 4rem;
  text-align: right;
  font-weight: 500;
}

hr {
  border: 3px solid #001E11;
  margin: 0;
}